* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
 margin: 0;
}
.first-part, .footer {
   background-color: #1F2937;
}

/*first-section*/
.first-part {
    padding-bottom: 100px;
}

.header-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    margin-top: 7px;
}

.piano-logo {
    width: 60px;
    height: auto;
   
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;

}

.content-one {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    align-items: flex-start;
    
}

.hero {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
   
}

.sub-hero {
    font-size: 18px;
    color: #E5E7EB;
}

.ravel {
    width: 400px;
    height: auto;
    display: flex;
}

.subheader-container {
    display: flex;
    justify-content: space-evenly;
    gap: 90px;
}

.sign-up-button-one {
    background-color: #3882F6;
    border-radius: 6px ;
    color: white;
    padding: 5px 20px;
    border: none;
}

.image {
    width: 200px;
    height: auto;
    
}

/*second-section*/
.second-part {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 100px;
}

.composers {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 30px;
}

.info {
    max-width: 200px;
}

/*third-section*/
.third-part {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 100px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    max-width: 800px;
}

.author {
    font-weight: bold;
}

/*fourth-section*/
.fourth-part {
    background-color: #3882F6;
    margin: 100px 300px;
    padding: 50px 80px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    justify-content: space-around;
}

.sign-up-text {
    color: #F9FAF8;
}

.sign-up-button-two {
    background-color: #3882F6;
    border-radius: 6px ;
    color: white;
    padding: 10px 40px;
    border-color: white;
}

.white {
    color: antiquewhite
}

.green {
    color: mediumaquamarine;
}

.red {
    color: crimson;
}

.black {
    color: black;
}

/*footer*/
.footer {
    display: flex;
    color: #E5E7EB;
    justify-content: center;
    padding: 50px 0px;
}

